.materias{

    padding: 10px 8px;
    width: 500px ;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    user-select: nome;
    cursor: pointer;
    font-size: 30px;
    }
    body{
        background-color: #e5e5f7;
        opacity: 1;
        background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#000000 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #000000 0.8px, #e5e5f7 0.8px) -0.4px 0;
        background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    } 
