body{

  background-image: linear-gradient(to bottom, rgb(2, 130, 255),rgb(0, 0, 0));
    height:100px;
    width: 150px;

    text-align: center;
    
    }
    
.h1{
    color: aliceblue;
    margin-top: 5px;
    font-size: 50px;
border-radios: 30px;
  
}
